:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

html,
body {
  height: 100%;
}

body {
    background-color: var(--light);
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.wrapper .sidebar-nav {
    padding-top: 6rem;
}


.wrapper .sidebar-nav {
    position: fixed;
    top: 0;
    left: -280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    background-color: #293042;
    font-size: .875rem;
    color: #fff;
    overflow-y: auto;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    z-index: 100;
}

.wrapper .sidebar-nav.collapse {
    left: 0;
    transition: left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
}

@media (min-width: 1025px) {
    .wrapper .sidebar-nav {
        position: static;
        left: 0;
        height: auto;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }

    .wrapper .sidebar-nav.collapse {
        left: auto;
        margin-left: -280px;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }
}

.sidebar-nav a {
    color: var(--light);
    text-decoration: none;
}

.sidebar-nav ul {
    margin-bottom: 3rem;
}

.sidebar-nav li {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.wrapper main {
    display: flex;
    min-height: 100vh;
    /* width: 100%; */
    min-width: 0;
}

.dropdown-menu-wide {
    min-width: 18rem;
}

/* Limit width of .container-fluid */
.container-fluid-limit {
    max-width: 1440px;
}

.card-customer-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* initials profile name */
@media (max-width: 576px) {
    .u-initials:not(::first-letter) {
        display: none;
    }
}

.bg-cyan {
    background-color: var(--cyan);
}